<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{clear:left;font:14px Helvetica,Arial,sans-serif;}
#mc_embed_signup input {color: black;}
</style>
<div id="mc_embed_signup">
  <form accept-charset="UTF-8"
        id="form">
    <div id="mc_embed_signup_scroll">
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="email">Email Address  <span class="asterisk">*</span>
        </label>
        <input required type="email" id="email" name="email">
      </div>
      <div class="mc-field-group">
        <label for="pre_approval_number">Pre-Approval Number  <span class="asterisk">*</label>
        <input required type="text" id="pre_approval_number" name="pre_approval_number">
      </div>
      <div class="mc-field-group size1of2">
        <label for="phone_number">Phone Number  <span class="asterisk">*</label>
        <input required type="tel" id="phone_number" name="phone_number">
      </div>
      <div class="clear"><input type="submit" value="Submit" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>

<script>
   const form = document.querySelector("#form")
   const submitButton = document.querySelector("#mc-embedded-subscribe")
   const scriptURL = 'https://script.google.com/macros/s/AKfycbzGAsYfuAy8O67IMT5jyq7kWGKRU9sEKl5c_syb5VIw-4fmrs9YOF1xHgCReaQXHXoM/exec'

   form.addEventListener('submit', e => {
     submitButton.disabled = true
     e.preventDefault()
     let requestBody = new FormData(form)
     fetch(scriptURL, { method: 'POST', body: requestBody})
       .then(response => {
          alert('Your response has been recorded.', response)
          submitButton.disabled = false
         })
       .catch(error => {
       alert('Error!', error.message)
         submitButton.disabled = false
       }
       )
   })
</script>
